{
  "title": "Crontab",
  "story": [
    {
      "type": "markdown",
      "id": "3f60a3d8c1cbd75e",
      "text": "This is the command to run when you want to edit your crontab:"
    },
    {
      "type": "code",
      "id": "559e3c2856d23062",
      "text": "crontab -e\n"
    },
    {
      "type": "markdown",
      "id": "d5bbb5452f8e735f",
      "text": "Add the bash line to your crontab."
    },
    {
      "type": "code",
      "id": "c03f4aa2c3a14d7d",
      "text": "* * * * * cd /var/www/rest.livecode.world && /usr/lib/cgi-bin/livecode-community-server index.lc clock"
    },
    {
      "type": "markdown",
      "id": "9b2b9845588ef7f9",
      "text": "This bit means \"run every minute\":\n"
    },
    {
      "type": "code",
      "id": "785fe7c6b4ec1f49",
      "text": "* * * * *  "
    },
    {
      "type": "markdown",
      "id": "5d422bc2f2c702a6",
      "text": "While:\n"
    },
    {
      "type": "code",
      "id": "585bfda389c3490a",
      "text": "*/15 * * * *\n"
    },
    {
      "type": "markdown",
      "id": "4e66abfff7135418",
      "text": "means run every 15 minutes.\n"
    },
    {
      "type": "markdown",
      "id": "33e3656a983cfa92",
      "text": "The shell command first changes directory to the project folder of the revIgniter web site:"
    },
    {
      "type": "code",
      "id": "ef5a4a3a6931ff1e",
      "text": "cd /var/www/rest.livecode.world"
    },
    {
      "type": "markdown",
      "id": "9e7789967b2d6f37",
      "text": "And then executes the livecode server using the path to the server executable:\n"
    },
    {
      "type": "code",
      "id": "cf50a56aa9da6ef6",
      "text": "/usr/lib/cgi-bin/livecode-community-server index.lc "
    },
    {
      "type": "markdown",
      "id": "a2c0e02f6e28b138",
      "text": "You can then pass parmaeters corresponding to the routing of the controller. So:"
    },
    {
      "type": "code",
      "id": "edc90623b8741bca",
      "text": "update trashAndIndex"
    },
    {
      "type": "markdown",
      "id": "4b2b512d862819ea",
      "text": "Would call the same controller as:\n- https://rest.livecode.world/update/trashAndIndex"
    },
    {
      "type": "markdown",
      "id": "e4a0039a5a0012d5",
      "text": "# Monitor the cron jobs\nYou can continuously mmonitor the active cron jobs by checking the logs like this:\n"
    },
    {
      "type": "code",
      "id": "ac762ebe3f4a6762",
      "text": "tail -f /var/log/cron.log"
    },
    {
      "type": "markdown",
      "id": "5d15ba7130143d4f",
      "text": "First you will have to enable logging of the cron jobs. Uncomment logging here - [https://stackoverflow.com/questions/4883069/debugging-crontab-jobs stackoverflow]"
    },
    {
      "type": "code",
      "id": "0bc795c0969ef6ec",
      "text": "nano /etc/rsyslog.d/50-default.conf "
    },
    {
      "type": "markdown",
      "id": "19b4bddc0d95f559",
      "text": "This is the line to uncomment:\n"
    },
    {
      "type": "code",
      "id": "bda87d219515f63b",
      "text": "cron.*                          /var/log/cron.log"
    }
  ],
  "journal": [
    {
      "type": "create",
      "item": {
        "title": "Crontab",
        "story": []
      },
      "date": 1629067745348
    },
    {
      "id": "559e3c2856d23062",
      "type": "add",
      "item": {
        "type": "code",
        "id": "559e3c2856d23062",
        "text": "crontab -e\n"
      },
      "date": 1629067752784
    },
    {
      "id": "d5bbb5452f8e735f",
      "type": "add",
      "item": {
        "type": "markdown",
        "id": "d5bbb5452f8e735f",
        "text": "Add the bash line to your crontab."
      },
      "after": "559e3c2856d23062",
      "date": 1629067756135
    },
    {
      "id": "c03f4aa2c3a14d7d",
      "type": "add",
      "item": {
        "type": "code",
        "id": "c03f4aa2c3a14d7d",
        "text": "* * * * * cd /var/www/rest.livecode.world/ && /usr/lib/cgi-bin/livecode-community-server index.lc clock"
      },
      "after": "d5bbb5452f8e735f",
      "date": 1629067759253
    },
    {
      "item": {
        "type": "factory",
        "id": "3f60a3d8c1cbd75e"
      },
      "id": "3f60a3d8c1cbd75e",
      "type": "add",
      "after": "c03f4aa2c3a14d7d",
      "date": 1629067761432
    },
    {
      "id": "3f60a3d8c1cbd75e",
      "type": "move",
      "order": [
        "3f60a3d8c1cbd75e",
        "559e3c2856d23062",
        "d5bbb5452f8e735f",
        "c03f4aa2c3a14d7d"
      ],
      "date": 1629067763213
    },
    {
      "type": "edit",
      "id": "3f60a3d8c1cbd75e",
      "item": {
        "type": "markdown",
        "id": "3f60a3d8c1cbd75e",
        "text": "This is the command to run when you want to edit your crontab:"
      },
      "date": 1629067782437
    },
    {
      "item": {
        "type": "factory",
        "id": "9b2b9845588ef7f9"
      },
      "id": "9b2b9845588ef7f9",
      "type": "add",
      "after": "c03f4aa2c3a14d7d",
      "date": 1629067796406
    },
    {
      "type": "edit",
      "id": "9b2b9845588ef7f9",
      "item": {
        "type": "markdown",
        "id": "9b2b9845588ef7f9",
        "text": "This bit means \"run every miute\":\n"
      },
      "date": 1629067808657
    },
    {
      "type": "add",
      "id": "785fe7c6b4ec1f49",
      "item": {
        "type": "factory",
        "id": "785fe7c6b4ec1f49",
        "text": "* * * * *"
      },
      "after": "9b2b9845588ef7f9",
      "date": 1629067811742
    },
    {
      "type": "edit",
      "id": "785fe7c6b4ec1f49",
      "item": {
        "type": "code",
        "id": "785fe7c6b4ec1f49",
        "text": "* * * * *  "
      },
      "date": 1629067815471
    },
    {
      "item": {
        "type": "factory",
        "id": "5d422bc2f2c702a6"
      },
      "id": "5d422bc2f2c702a6",
      "type": "add",
      "after": "785fe7c6b4ec1f49",
      "date": 1629067841905
    },
    {
      "type": "edit",
      "id": "c03f4aa2c3a14d7d",
      "item": {
        "type": "code",
        "id": "c03f4aa2c3a14d7d",
        "text": "* * * * * cd /var/www/rest.livecode.world && /usr/lib/cgi-bin/livecode-community-server index.lc clock"
      },
      "date": 1629067844611
    },
    {
      "type": "edit",
      "id": "5d422bc2f2c702a6",
      "item": {
        "type": "markdown",
        "id": "5d422bc2f2c702a6",
        "text": "The shell command first changes directory to the project folder of the revIgniter web site:"
      },
      "date": 1629067876235
    },
    {
      "item": {
        "type": "factory",
        "id": "ef5a4a3a6931ff1e"
      },
      "id": "ef5a4a3a6931ff1e",
      "type": "add",
      "after": "5d422bc2f2c702a6",
      "date": 1629067877467
    },
    {
      "type": "edit",
      "id": "ef5a4a3a6931ff1e",
      "item": {
        "type": "code",
        "id": "ef5a4a3a6931ff1e",
        "text": "cd /var/www/rest.livecode.world"
      },
      "date": 1629067879651
    },
    {
      "item": {
        "type": "factory",
        "id": "9e7789967b2d6f37"
      },
      "id": "9e7789967b2d6f37",
      "type": "add",
      "after": "ef5a4a3a6931ff1e",
      "date": 1629067896251
    },
    {
      "type": "edit",
      "id": "9e7789967b2d6f37",
      "item": {
        "type": "markdown",
        "id": "9e7789967b2d6f37",
        "text": "And then executes the livecode server using the path to the server executable:\n"
      },
      "date": 1629067944927
    },
    {
      "type": "add",
      "id": "cf50a56aa9da6ef6",
      "item": {
        "type": "factory",
        "id": "cf50a56aa9da6ef6",
        "text": "/usr/lib/cgi-bin/livecode-community-server index.lc"
      },
      "after": "9e7789967b2d6f37",
      "date": 1629067946441
    },
    {
      "type": "edit",
      "id": "cf50a56aa9da6ef6",
      "item": {
        "type": "code",
        "id": "cf50a56aa9da6ef6",
        "text": "/usr/lib/cgi-bin/livecode-community-server index.lc "
      },
      "date": 1629067953802
    },
    {
      "item": {
        "type": "factory",
        "id": "a2c0e02f6e28b138"
      },
      "id": "a2c0e02f6e28b138",
      "type": "add",
      "after": "cf50a56aa9da6ef6",
      "date": 1629067955064
    },
    {
      "type": "edit",
      "id": "a2c0e02f6e28b138",
      "item": {
        "type": "markdown",
        "id": "a2c0e02f6e28b138",
        "text": "You can then pass parmaeters corresponding to the routing of the controller:"
      },
      "date": 1629067986889
    },
    {
      "item": {
        "type": "factory",
        "id": "edc90623b8741bca"
      },
      "id": "edc90623b8741bca",
      "type": "add",
      "after": "a2c0e02f6e28b138",
      "date": 1629068009218
    },
    {
      "type": "edit",
      "id": "a2c0e02f6e28b138",
      "item": {
        "type": "markdown",
        "id": "a2c0e02f6e28b138",
        "text": "You can then pass parmaeters corresponding to the routing of the controller. So:"
      },
      "date": 1629068010755
    },
    {
      "type": "edit",
      "id": "edc90623b8741bca",
      "item": {
        "type": "markdown",
        "id": "edc90623b8741bca",
        "text": "update "
      },
      "date": 1629068034382
    },
    {
      "type": "edit",
      "id": "edc90623b8741bca",
      "item": {
        "type": "code",
        "id": "edc90623b8741bca",
        "text": "update trashAndIndex"
      },
      "date": 1629068078130
    },
    {
      "item": {
        "type": "factory",
        "id": "4b2b512d862819ea"
      },
      "id": "4b2b512d862819ea",
      "type": "add",
      "after": "edc90623b8741bca",
      "date": 1629068079678
    },
    {
      "type": "edit",
      "id": "4b2b512d862819ea",
      "item": {
        "type": "markdown",
        "id": "4b2b512d862819ea",
        "text": "Would call the same controller as:"
      },
      "date": 1629068094121
    },
    {
      "type": "edit",
      "id": "4b2b512d862819ea",
      "item": {
        "type": "markdown",
        "id": "4b2b512d862819ea",
        "text": "Would call the same controller as:\n- https://rest.livecode.world/update/trashAndIndex"
      },
      "date": 1629068107486
    },
    {
      "type": "edit",
      "id": "9b2b9845588ef7f9",
      "item": {
        "type": "markdown",
        "id": "9b2b9845588ef7f9",
        "text": "This bit means \"run every minute\":\n"
      },
      "date": 1629068120765
    },
    {
      "type": "edit",
      "id": "5d422bc2f2c702a6",
      "item": {
        "type": "markdown",
        "id": "5d422bc2f2c702a6",
        "text": "While:\n"
      },
      "date": 1629068127601
    },
    {
      "type": "add",
      "id": "585bfda389c3490a",
      "item": {
        "type": "markdown",
        "id": "585bfda389c3490a",
        "text": "adfs\n"
      },
      "after": "5d422bc2f2c702a6",
      "date": 1629068129297
    },
    {
      "type": "add",
      "id": "4e66abfff7135418",
      "item": {
        "type": "markdown",
        "id": "4e66abfff7135418",
        "text": "means run every 15 minutes.\n"
      },
      "after": "585bfda389c3490a",
      "date": 1629068142122
    },
    {
      "type": "add",
      "id": "33e3656a983cfa92",
      "item": {
        "type": "markdown",
        "id": "33e3656a983cfa92",
        "text": "The shell command first changes directory to the project folder of the revIgniter web site:"
      },
      "after": "4e66abfff7135418",
      "date": 1629068142571
    },
    {
      "type": "edit",
      "id": "585bfda389c3490a",
      "item": {
        "type": "code",
        "id": "585bfda389c3490a",
        "text": "*/15 * * * *\n"
      },
      "date": 1629068243755
    },
    {
      "id": "e4a0039a5a0012d5",
      "type": "add",
      "item": {
        "type": "markdown",
        "id": "e4a0039a5a0012d5",
        "text": "Monitor the logs like this:\n"
      },
      "after": "4b2b512d862819ea",
      "date": 1629070185335
    },
    {
      "id": "ac762ebe3f4a6762",
      "type": "add",
      "item": {
        "type": "code",
        "id": "ac762ebe3f4a6762",
        "text": "tail -f /var/log/cron.log"
      },
      "after": "e4a0039a5a0012d5",
      "date": 1629070188314
    },
    {
      "type": "edit",
      "id": "e4a0039a5a0012d5",
      "item": {
        "type": "markdown",
        "id": "e4a0039a5a0012d5",
        "text": "# Monitor the cron jobs\nMonitor the logs like this:\n"
      },
      "date": 1629070206224
    },
    {
      "type": "edit",
      "id": "e4a0039a5a0012d5",
      "item": {
        "type": "markdown",
        "id": "e4a0039a5a0012d5",
        "text": "# Monitor the cron jobs\nYou can continuously mmonitor the active cron jobs by checking the logs like this:\n"
      },
      "date": 1629070247745
    },
    {
      "item": {
        "type": "factory",
        "id": "5d15ba7130143d4f"
      },
      "id": "5d15ba7130143d4f",
      "type": "add",
      "after": "ac762ebe3f4a6762",
      "date": 1629070250267
    },
    {
      "type": "edit",
      "id": "5d15ba7130143d4f",
      "item": {
        "type": "markdown",
        "id": "5d15ba7130143d4f",
        "text": "First you will have to enable logging of the cron jobs."
      },
      "date": 1629070273734
    },
    {
      "id": "ca015650c33a7205",
      "type": "add",
      "item": {
        "type": "markdown",
        "id": "ca015650c33a7205",
        "text": "# To debug\nUncomment logging here - [https://stackoverflow.com/questions/4883069/debugging-crontab-jobs stackoverflow]"
      },
      "after": "5d15ba7130143d4f",
      "date": 1629070279708
    },
    {
      "type": "remove",
      "id": "ca015650c33a7205",
      "date": 1629070284540
    },
    {
      "type": "edit",
      "id": "5d15ba7130143d4f",
      "item": {
        "type": "markdown",
        "id": "5d15ba7130143d4f",
        "text": "First you will have to enable logging of the cron jobs. Uncomment logging here - [https://stackoverflow.com/questions/4883069/debugging-crontab-jobs stackoverflow]"
      },
      "date": 1629070288584
    },
    {
      "id": "0bc795c0969ef6ec",
      "type": "add",
      "item": {
        "type": "code",
        "id": "0bc795c0969ef6ec",
        "text": "nano /etc/rsyslog.d/50-default.conf "
      },
      "after": "5d15ba7130143d4f",
      "date": 1629070298596
    },
    {
      "id": "19b4bddc0d95f559",
      "type": "add",
      "item": {
        "type": "markdown",
        "id": "19b4bddc0d95f559",
        "text": "This is the line to uncomment:\n"
      },
      "after": "0bc795c0969ef6ec",
      "date": 1629070307189
    },
    {
      "id": "bda87d219515f63b",
      "type": "add",
      "item": {
        "type": "code",
        "id": "bda87d219515f63b",
        "text": "cron.*                          /var/log/cron.log"
      },
      "after": "19b4bddc0d95f559",
      "date": 1629070311663
    },
    {
      "type": "fork",
      "site": "admin.fedwiki.org",
      "date": 1629091513333
    }
  ]
}