{
  "title": "Namespace",
  "story": [
    {
      "type": "markdown",
      "id": "4824dff23f0c593d",
      "text": "[[Konrad Hinsen]]: \"Ideally: no image at all, except for a set of foundational classes. All code lives in Lepiter pages. Each page is a namespace. \n"
    },
    {
      "type": "markdown",
      "id": "ad46904d4a986f0a",
      "text": "A [[System]] is defined by the connected components of the page [[Reference Graph]]. Distinct systems are fully independent.\" [https://twitter.com/khinsen/status/1562768519921827842?s=20&t=nfZW7GILAFDPvu7BsDaPLQ tweet]\n"
    },
    {
      "type": "markdown",
      "id": "179a7fee1934bf74",
      "text": "\"The one missing feature in @pharoproject for implementing something like this is *namespace*s.\" \n-- [https://twitter.com/khinsen/status/1562768690885537795?s=20&t=nfZW7GILAFDPvu7BsDaPLQ tweet], [https://twitter.com/RalfBarkow/status/1562669763507077121?s=20&t=nfZW7GILAFDPvu7BsDaPLQ thread]"
    }
  ],
  "journal": [
    {
      "type": "create",
      "item": {
        "title": "Namespace",
        "story": []
      },
      "date": 1665262069719
    },
    {
      "id": "4824dff23f0c593d",
      "type": "add",
      "item": {
        "type": "markdown",
        "id": "4824dff23f0c593d",
        "text": "[[Konrad Hinsen]]: \"Ideally: no image at all, except for a set of foundational classes. All code lives in Lepiter pages. Each page is a namespace. A system is defined by the connected components of the page reference graph. Distinct systems are fully independent.\" [https://twitter.com/khinsen/status/1562768519921827842?s=20&t=nfZW7GILAFDPvu7BsDaPLQ tweet]\n"
      },
      "date": 1665262083943
    },
    {
      "id": "179a7fee1934bf74",
      "type": "add",
      "item": {
        "type": "markdown",
        "id": "179a7fee1934bf74",
        "text": "\"The one missing feature in @pharoproject for implementing something like this is [[namespace]]s.\" \n-- [https://twitter.com/khinsen/status/1562768690885537795?s=20&t=nfZW7GILAFDPvu7BsDaPLQ tweet], [https://twitter.com/RalfBarkow/status/1562669763507077121?s=20&t=nfZW7GILAFDPvu7BsDaPLQ thread]"
      },
      "after": "4824dff23f0c593d",
      "date": 1665262089018
    },
    {
      "type": "edit",
      "id": "4824dff23f0c593d",
      "item": {
        "type": "markdown",
        "id": "4824dff23f0c593d",
        "text": "[[Konrad Hinsen]]: \"Ideally: no image at all, except for a set of foundational classes. All code lives in Lepiter pages. Each page is a namespace. \n"
      },
      "date": 1665262248093
    },
    {
      "type": "add",
      "id": "ad46904d4a986f0a",
      "item": {
        "type": "markdown",
        "id": "ad46904d4a986f0a",
        "text": "A [[system]] is defined by the connected components of the page reference graph. Distinct systems are fully independent.\" [https://twitter.com/khinsen/status/1562768519921827842?s=20&t=nfZW7GILAFDPvu7BsDaPLQ tweet]\n"
      },
      "after": "4824dff23f0c593d",
      "date": 1665262260676
    },
    {
      "type": "fork",
      "date": 1665262308301
    },
    {
      "type": "edit",
      "id": "ad46904d4a986f0a",
      "item": {
        "type": "markdown",
        "id": "ad46904d4a986f0a",
        "text": "A [[System]] is defined by the connected components of the page reference graph. Distinct systems are fully independent.\" [https://twitter.com/khinsen/status/1562768519921827842?s=20&t=nfZW7GILAFDPvu7BsDaPLQ tweet]\n"
      },
      "date": 1665263272282
    },
    {
      "type": "edit",
      "id": "179a7fee1934bf74",
      "item": {
        "type": "markdown",
        "id": "179a7fee1934bf74",
        "text": "\"The one missing feature in @pharoproject for implementing something like this is *namespace*s.\" \n-- [https://twitter.com/khinsen/status/1562768690885537795?s=20&t=nfZW7GILAFDPvu7BsDaPLQ tweet], [https://twitter.com/RalfBarkow/status/1562669763507077121?s=20&t=nfZW7GILAFDPvu7BsDaPLQ thread]"
      },
      "date": 1665263303535
    },
    {
      "type": "edit",
      "id": "ad46904d4a986f0a",
      "item": {
        "type": "markdown",
        "id": "ad46904d4a986f0a",
        "text": "A [[System]] is defined by the connected components of the page [[Reference Graph]]. Distinct systems are fully independent.\" [https://twitter.com/khinsen/status/1562768519921827842?s=20&t=nfZW7GILAFDPvu7BsDaPLQ tweet]\n"
      },
      "date": 1665263718603
    }
  ]
}